<div>
  <div class="page-header" style="margin: 0">
    <h1>Let's Find Something</h1>
  </div>
  <div class="row top-buffer">
    <div class="col-xs-6">
      <form ng-submit="searchRecipesByName()">
        <input type="text" ng-model="recipeSearchBox" typeahead="recipename for recipename in recipesnames | filter:$viewValue | limitTo:20" class="form-control" placeholder="Search for a recipe by name."></input>
      </form>
    </div>
    <div class="col-xs-6">
      <form ng-submit="pinnedIngredientAdd()">
        <div>
          <input type="text" ng-model="ingredientSearchBox" typeahead="ingredient for ingredient in ingredients | filter:$viewValue | limitTo:20" class="form-control" placeholder="Search for ingredients by name."></input>
        </div>
        <div>
          <button type="button" class="btn btn-default top-buffer" ng-model="selectedIngredients[ingredient]" ng-click="pinnedIngredientRemove()" ng-repeat="ingredient in selectedIngredients">{{ingredient}}</button>
        </div>
        <div>
          <button type="button" class="btn btn-success top-buffer" ng-show="selectedIngredients.length > 0" ng-click="submitIngredientSearch()">Search Pinned Ingredients</button>
        </div>
      </form>
    </div>
  </div>
</div>
