<div style="padding: 0px 0px 0px 30px">
  <div class="page-header" style="margin: 0">
    <h1>Let's Get Started</h1>
  </div>
  <div style="padding-top: 10px">
    <div style="padding-bottom: 30px">
      Find some ingredients in the search box and then click the magic button.
    </div>
    <div>
      <!--ng-controller="TypeaheadCtrl"-->
      <form  ng-submit="pinnedIngredientAdd()">
        <input type="text" ng-model="searchBox" typeahead="ingredient for ingredient in ingredients | filter:$viewValue | limitTo:20" class="form-control">
      </form>
    </div>
    <div>
      <!-- TODO: figure out how to ng-show -->
        <h2>Pinned Ingredients</h3>
        <button class="btn btn-default" ng-model="selectedIngredients[ingredient]" ng-click="pinnedIngredientRemove()" ng-repeat="ingredient in selectedIngredients">{{ingredient}}</span>
    </div>
  </div>
</div>
