<div style="padding: 0px 0px 0px 30px">
  <div class="page-header" style="margin: 0">
    <h1>
      Recipes 
      <span ng-show="includesIngredients.length > 0"> That Include <i>{{includesIngredients}}</i></span>
      <span ng-show="recipeSubstring.length > 0"> With <i>{{recipeSubstring}}</i> In Their Name</span>
    </h1>
  </div>
  <div>
    <table class="table">
      <tr>
        <th>Name </th>
      </tr>
      <tr ng-repeat="recipe in recipes">
        <td><a href="#/recipes/{{recipe._id}}">{{recipe.name}}</a><!--<span ng-repeat="component in recipe.components">{{component.ingredient}} </span>--></td>
      </tr>
    </table>
  </div>
</div>
