<div style="padding: 0px 0px 0px 30px">
  <div class="page-header" style="margin: 0">
    <h1>
      {{recipe.name}}
    </h1>
  </div>
  <div>
    <div ng-controller="FormController">
      <form>
        <div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="recipe.name" ng-model-options="{ getterSetter : true }"></input>
          </div>

          <div class="form-group" ng-repeat="component in recipe.components">
            <ng-form name="innerForm">
            <div class="row">
              <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="component.measure"></input>
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="component.unit"></input>
              </div>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="component.ingredient"></input>
              </div>
              <div class="col-xs-5">
                <input type="text" class="form-control" ng-model="component.extended"></input>
              </div>
            </div>
            </ng-form>
          </div>
          <div class="form-group">
            <button ng-click="editRecipeAddComponent()" class="btn btn-primary">Add Component</button>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="recipe.instructions"></input>
          </div> 
          <div class="form-group">
            <button type="submit" ng-click="editRecipeSubmit()" class="btn btn-success">Save</button>
            <button type="button" ng-hide="isNew" ng-really-message="Are you sure?" ng-really-click="editRecipeDelete()" class="btn btn-danger danger">Delete</button>
          </div>
        </div>
        <span>{{formInfo}}</span>
      </form>
    </div>
  </div>
</div>
