<div style="padding: 0px 0px 0px 30px">
  <div class="page-header" style="margin: 0">
    <h1>
      {{recipe.name}}
    </h1>
  </div>
  <div>
    <h3>Ingredients</h3>
    <ul class="list-unstyled">
      <li ng-repeat="component in recipe.components">{{component.measure}} {{component.unit}} <a href="#/recipes/includes/{{component.ingredient}}">{{component.ingredient}}</a> {{component.extended.length ? "(" + component.extended + ")" : ""}}</li>
    </ul>
    <h3>Instructions</h3>
    <div>{{recipe.instructions}}</div>
    <div style="padding: 20px 0px 0px 0px">
      <a href="#/recipes/edit/{{recipe._id}}" class="btn btn-primary">Edit</a>
    </div>
  </div>
</div>
